* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: black;
}

main {
    width: min-content;
    margin: auto;
}

#headline {
    text-align: center;
}

#current-scores {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.2rem;
}

.player {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.player:nth-child(0) {
    flex-direction: row;
}

.player:nth-child(1) {
    flex-direction: row-reverse;
}

.white-border {
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    padding: 0.3rem;
    font-weight: bold;
}

.disabled {
    background-color: transparent;
    text-align: center;
    border: none;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.1rem;
}

#score-table {
    margin: auto;
}

#field {
    object-fit: contain;
}